.ubc-rmp-true {
  color: #31bd5e !important;
}

.ubc-rmp-false {
  color: #bb0000 !important;
}

.blink-loader {
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.1; }
}

.ubc-rmp-wrapper {
  display: none;
}

.tippy-tooltip.dark-blue-theme {
  background: #002144;
}

div[id^="ubc-rmp-template"] {
  font-family: "Arial", "Sans-Serif";
  color: white;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 5px 15px 5px 15px;
  background: #002144;
}

div[id^="ubc-rmp-template"] > p {
  text-align: left;
  margin: 5px 0 0;
}

div[id^="ubc-rmp-template"] > a {
  color: white;
  text-align: center;
  margin: 0 0 5px;
}
