.ubc-rmp-true {
  color: #21ce59 !important;
}

.ubc-rmp-false {
  color: red !important;
}

.blink-loader {
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.1; }
}
