.ubc-rmp-true {
  color: #21ce59 !important;
}

.ubc-rmp-false {
  color: #bb0000 !important;
}

.blink-loader {
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.1; }
}

.ubc-rmp-wrapper {
  display: none;
}

div[id^="ubc-rmp-template"] {
  font-family: "Courier New";
  text-align: left;
  color: black;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 5px 15px 5px 15px;
  background: #d7e0e7;
}
